@media screen and (orientation: landscape) {
	#main {
		width: 55%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (orientation: portrait) {
	#main {
		width: 100%;
	}
}

@media screen and (orientation: landscape) and (max-width: 1050px) {
	#main {
		width: 80%;
	}
}

@media screen and (orientation: landscape) and (max-width: 860px) {
	#main {
		width: 100%;
	}
}

body {
	background-color: black;
	font-family: sans-serif;
}

#main {
	padding-top: 16px;
}

#room {
	position: relative;
	width: 100%;
}

button.roomButton {
	width: 100%;
	background-color: transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
}

.tooltip {
	position: absolute;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: black;
	border-radius: 4px;
	color: white;
	opacity: 0;
	pointer-events: none;
	text-align: center;
	transition: opacity 0.3s;
}