body {
	background-color: black;
	font-family: sans-serif;
	margin: 0;
}

#dirRequesterOuter {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0.0, 0.0, 0.0, 0.5);
}
#dirRequesterInner {
	max-width: 400px;
	background-color: #f1e9df;
	padding: 8px;
}

#main {
	width: max-content;
	padding: 0;
	margin: 0;
}

#inspector {
	padding: 8px;
	width: 320px;
	background-color: #f1e9df;
	resize: horizontal;
	overflow-y: scroll;
	float: left;
	height: 100vh;
	box-sizing: border-box;
}

summary {
	user-select: none;
}

.inspectorParam {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2px 0px 2px 0px;
	height: 30px;
}

#background {
	margin-left: auto;
	margin-right: 0;
}

#room {
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	transform-origin: 0% 0%;
}

#backgroundImage {
	display: block;
}

.roomButton {
	position: absolute;
	cursor: pointer;
}

.roomButton:hover {
	outline: medium solid white;
}

hr {
	margin: 4px 0px 2px 0px;
}

input[type="file"] {
	display: none;
}

input[type="text"] {
	width: 60%;
}

.fileSelect {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 4px 12px;
	margin: 2px;
	cursor: pointer;
}